<article class="resume" ...attributes>
	<div class="candidate-summary">
		<section class="candidate-information">
			<header class="candidate-header" aria-label="Candidate name and tagline">
				<div class="resume-headline">
					<h3 class="name">{{this.data.name}}</h3>
					<dl class="candidate-meta">
						{{#if this.data.citizenship.length}}
							<dt class="visuallyhidden">Citizenship</dt>
							<dd>
								<ul class="candidate-nationalities">
									{{#each this.data.citizenship as |nationality|}}
										<li class="nationality" title="Eligible to work in {{nationality.country}}">
											<span class="visuallyhidden"{{nationality.country}}></span>
											<span class="country">{{nationality.icon}}</span>
										</li>
									{{/each}}
								</ul>
							</dd>
						{{/if}}
					</dl>
					<p class="resume-tagline"><strong>{{this.data.tagline}}</strong></p>
				</div>
				<ResponsiveImage class="profile-image" @width={{450}} @src={{get-image-path "sean-suit-square.jpg"}} alt="Sean Goresht"/>
			</header>
			<section id="experience">
				<h2 class="candidate-experience-heading">Experience</h2>
				<dl class="experience-meta">
					{{#each this.skillsWithExperience as |skill|}}
						<div class="experience">
							<dt>{{skill.name}}</dt>
							<dd class="experience-duration-container">
								<strong class="experience-duration">{{get-duration skill.dateStarted format="short"}}</strong>
							</dd>
						</div>
					{{/each}}
				</dl>
			</section>
			<footer class="social-media">
				<SocialLinks @type="professional"/>
			</footer>
		</section>
	</div>

	<div class="resume-details">
		<section id="work-history" class="work-history-container">
			<h2 class="resume-details-section-title">Work History</h2>
			<Resume::WorkHistory/>
		</section>
		<section class="engagements-container">
			<h2 class="resume-details-section-title">Engagements</h2>
			<ol class="engagements">
				{{#each this.data.engagements as |engagement|}}
					<li class="engagement">
						<dl class="contribution-meta">
							<dt class="visuallyhidden">Role</dt>
							<dd class="engagement-title">{{engagement.role}}</dd>
							{{#if engagement.activity}}
								<dt class="visuallyhidden">Activity</dt>
								<dd><a href={{engagement.activity.host.link}} target="_blank" rel="noreferrer noopener">{{engagement.activity.name}} <IconifyIcon @icon="gridicons:external"/></a></dd>
								<dt class="visuallyhidden">Duration</dt>
								<dd>
									{{#if engagement.activity.date}}
										<Time @datetime={{engagement.activity.date}}/>
									{{else}}
										{{get-duration engagement.activity.startDate engagement.activity.endDate}}
									{{/if}}
								</dd>
							{{/if}}
						</dl>
						<div class="contribution-description">
							<p>{{engagement.description}}</p>
						</div>
						{{#if engagement.media}}
							<p><a href={{engagement.media.link}}>{{engagement.media.title}} <IconifyIcon @icon="gridicons:external"/></a> </p>
						{{/if}}
					</li>
				{{/each}}
			</ol>
		</section>
		<section id="education">
			<h2 class="resume-details-section-title">Education</h2>
			<dl class="education-meta">
				<dt class="visuallyhidden">Institution</dt>
				<dd class="institution-name"><a href="https://www.ucalgary.ca/" target="_blank" rel="noopener noreferrer">University of Calgary <IconifyIcon @icon="gridicons:external"/></a></dd>
				<dt class="visuallyhidden">Degree</dt>
				<dd>
					<dl class="degree-meta">
						<dt class="visuallyhidden">Major</dt>
						<dd class="degree-major">Bachelor of Arts <sup class="print-only">(Multidisciplinary Studies)</sup></dd>
						<dt class="visuallyhidden">Minor</dt>
						<dd class="degree-minor">Computer Science</dd>
						<dd class="degree-minor">Sonic Arts</dd>
					</dl>
				</dd>
				<dt class="visuallyhidden">Date</dt>
				<dd class="graduation-year"><time datetime="2013-05-01">2013</time></dd>
			</dl>
		</section>
		<section class="portfolio-container" id="portfolio">
			<h2 class="resume-details-section-title">Projects</h2>
			<Projects::List @projects={{this.data.projects.openSource}}/>
		</section>
		{{yield}}
	</div>
</article>
